@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

nav{
    border-bottom: 2px solid rgba(0,0,0,0.2);
    margin: 5px 0px;
    text-align: right;
    justify-content: right;
    width: 100%;
}
body{
    text-align: center;
}

  .navigation{
    display: flex;
    text-align: right;
    align-items: center;
    justify-content: right;
    margin-left: 400px;
    justify-content: space-evenly ;
    padding: 10px 20px;
  }
 
  .dropdown{
    float:left;
    overflow: hidden;
  }
  .nav a {
    float: left;
    font-size: 16px;
    justify-content: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  #icon{
    height:25px;
    width: 25px;
    display: inline-flex;
    border-radius: 50%;
    text-decoration: none;
    border: 2px solid black;
  }
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
.wrapper{

    width: 100%;
    height: 70vh;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 400px;
    padding: 30px;
    border-radius: 16px;
    background-color: rgba(0,0,0,0.08) 0px 4px 12px;
}
.title-section{
    margin-bottom: 30px;
}
.title{
    color: #38475a;
    font-size: 25px;
    font-weight: 500;

    margin-bottom: 10px;
}
.para{
    color: #38475a;
    width: 400px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 25px;
    text-align: justify;
    align-items: center;
    
}
#div2{
    border: 3px solid rgba(16, 28, 20, 0.2);
    width: 370px;
    height: 180px;
    margin: 8px 30px;
    align-items: center;
    display: inline-block;

}

.input-group{
    position:relative;
}
.input-group .label-title{

    color: #38475a;
    
    margin-bottom: 9px;
    width: 220px;
    font-size: 14px;
    display: block;
    font-weight: 500;
}
.input-group input{
    width: 80%;
    background-color: none;
    color: #38475a;
    height: 45px;
    font-size: 16px;
    font-weight: 300;
    border-radius: 8px;
    margin-bottom: 20px;
}
.input-group input::placeholder{
    color: #38475a;
    font-size: 16px;
    font-weight: 400;
}
.submit-btn{
    width: 80%;

    background-color: rgb(106, 106, 240);
    border: 1px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    color: #111010;
    padding: 13px 24px;
    font-weight: 500;
    text-align: center;
    
    cursor: pointer;
}
.submit-btn:hover{
    opacity: 0.95;
}